<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=advantechrecsysamerica;AccountKey=yleQe5Xpb0sb03KIRVgxP2/EZtE5BVO74rY8Ko70KykA64PS1LroU/YXR2FuXvx0wQW6IAtu50TUh94Xxj9ZBw==" />
  </appSettings>
  
</configuration>